<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Testing Chatbot Flask</title>
</head>
<body>
    <h1>Testing Chatbot Flask</h1>
    <form method="POST">
        <label for="input_usuario">Input Message</label>
        <input type="text" id="input_usuario" name="input_usuario" required>
        <button type="submit">Submit</button>
    </form>

    <ul>
        {% for msg in display %}
            <h2>{{ msg.split(':')[0] }}</h2>{{ msg.split(':')[1] }}
        {% endfor %}
    </ul>

</body>
</html>